@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (width: 780px) {
    #container, #cards, #form {
        width: 300px;
        flex-direction: column;
    }
}

#cards {
    width: 480px;
}

#cardback {
    display: flex;
    position: absolute;
    left: 15%;
    top: 45%;
}


#cardback > p {
    position: absolute;
    color: white;
    top: 110px;
    left: 350px;
}

#cardfrente {
    display: flex;
    flex-wrap: wrap-reverse;
    position: absolute;
    left: 10%;
    top: 15%;
}

@media screen and (width: 780px) {
    #cardfrente, #cardback {
        flex-direction: column;
    }
}

h1 {
    position: absolute;
    color: white;
    top: 130px;
    left: 50px;
}

p {
    text-transform: uppercase;
    position: absolute;
    color: white;
    top: 195px;
    left: 50px;
}

h3 {
    position: absolute;
    color: white;
    top: 196px;
    left: 350px;
}

#form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 800px;
    margin: 0px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    width: 800px;
    height: 450px;
}

#form > form > input {
    height: 50px;
    width: 300px;
    border-radius: 5px;

}

#data {
    width: 50px;
}

#concluido {
    display: none;
}

button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

footer {
    background-color: black;
    color: azure;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 24%, 77%); 
}