* {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
}

#cardback {
    position: absolute;
    left: 15%;
    top: 45%;
}

#cardback > h3 {
    position: absolute;
    color: white;
    top: 110px;
    left: 350px;
}

#cardfrente {
    position: absolute;
    left: 10%;
    top: 15%;
}

h1 {
    position: absolute;
    color: white;
    top: 130px;
    left: 80px;
}

h2 {
    position: absolute;
    color: white;
    top: 195px;
    left: 80px;
}

h3 {
    position: absolute;
    color: white;
    top: 196px;
    left: 350px;
}

#form {
    /* background-color: bisque; */
    text-align: center;
    /* height: 100vh; */
    /* width: 60vw; */
}

footer {
    background-color: black;
    color: azure;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 24%, 77%); 
}